.task {
    font-size: 200%;
    list-style: none;
    width: 40%;
    margin: auto;
    border-bottom: .25px solid lightgrey;
    border-top: .25px solid lightgrey;
    border-left: .5px solid lightgrey;
    border-right: .5px solid lightgrey;
}

.toDoList {
    text-align: center;
    list-style: none;
    padding: 0;
}

.task-title {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
}

.task-glyph {
}

.title {
    margin: 0 auto;
    font-size: 250%;
}

.main {
    text-align: center;
}

.newTask {
    font-size: 200%;
    width: 40%;
    margin: auto;
    border-top: .5px solid lightgrey;
    border-bottom: .25px solid lightgrey;
    border-left: .5px solid lightgrey;
    border-right: .5px solid lightgrey;
}

.glyphicon-remove {
    margin-left: 3%;
}